<% project ||= @project %>
<div id="message_form">
  <%= simple_form_for [chat, message],
      html: {
          data: {
              controller: "form-submit",
              turbo_stream: true
          },
          novalidate: true
      } do |f| %>
    <% if f.object.errors[:base].any? %>
      <div
        data-controller="alert"
        data-alert-duration-value="3000"
        class="alert alert-danger mb-3"
        role="alert"
      >
        <%= f.error_notification message: f.object.errors[:base].to_sentence, hide_when_empty: true %>
      </div>
    <% end %>
    <div class="message-box">
      <%= f.input :content, label: "What would you like to modify?", required: true,
      placeholder: "Describe the changes you want to make...", validate: false, error: false, input_html: {
      data: {
          action: "keydown->form-submit#submitOnEnter"
      } }%>
      <div class="d-flex justify-content-between align-items-center mt-2">
        <%= link_to "â† Return to Components", project_components_path(project), class: "btn btn-secondary" %>
        <%= f.button :submit, 'Forge Component', class: 'btn btn-primary component-button' %>
      </div>
    </div>
  <% end %>
</div>
