<div class="container">
      <h1 class="my-4">My Projects</h1>
      <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Create new project
      </button>
  <div class="cards">
  <% @projects.each do |project| %>
    <div class="project-item">

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgb(95, 97, 126))">
        <%= project.title %> <br>
        <%= project.components.count %> Components

        <%= link_to '', project_components_path(project), class: "stretched-link" %>
      </div>

      <div class="delete-btn">
        <%= link_to 'ðŸ—‘ï¸', project_path(project),
            class: 'text-decoration-none',
            data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{project.title}?" }
        %>
      </div>

    </div>
  <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Create new project</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <%= simple_form_for @project do |f| %>
        <div class="modal-body">
          <%= f.input :title %>
          <%= f.input :description %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.button :submit, "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
