<div class="container">
  <div class="d-flex justify-content-between align-items-center my-3">
    <h2 class="project-header">My Projects</h2>
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Create new project
    </button>
  </div>
  <div class="cards mb-2">
    <% @projects.each do |project| %>
      <div class="project-item">
        <div class="card-category <%= 'no-image' unless project.photo.attached? %>" style="<%= "background-image: url('#{cl_image_path(project.photo.key)}')" if project.photo.attached? %>">
          <%= project.title %> <br>
          <%= project.components.count %> Components
          <%= link_to '', project_components_path(project), class: "stretched-link" %>
        </div>
        <div class="delete-btn">
          <%= link_to project_path(project),
            class: 'text-decoration-none delete-link',
            data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure you want to delete '#{project.title}'? This will also delete all its components."
            } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Create new project</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
