<!DOCTYPE html>
<html>
  <head>
    <title>UiForge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%= javascript_importmap_tags %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
    </style>
  </head>
  <body>
    <%= link_to "Skip to main content", "#main-content", class: "visually-hidden-focusable" %>
    <%= render "shared/navbar" %>
    <main id="main-content">
      <%= yield %>
    </main>
    <%= render "shared/flashes" %>
  </html>
